<figure>
    <img class="{{ position }}-block img-fluid w-100 lozad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z/C/HgAGgwJ/lK3Q6wAAAABJRU5ErkJggg==" data-src="{{ src }}" alt="{{ alt | escape('html_attr')}}">
    {% if caption %}
        <span class="figure-caption text-muted text-right">{{ caption | raw }}</p>
    {% else %}
        <span class="figure-caption text-muted text-right">{{ alt }}</span>
    {% endif %}
</figure>
