<div class="card {% if (starred) %}starred{% endif %}" {% if (id) %}id="{{ id }}"{% endif %}>
    {% if (link) %}<a href="{{ link }}">{% endif %}
        {% if (img) %}
            <img class="card-img-top lozad" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ img }}" alt="{{ title|e('html_attr') }}" style="width: 100%">
            {% if (starred) %}<div class="star"><span class="rounded-circle"><i class="fas fa-star"></i></span></div>{% endif %}
        {% endif %}
    {% if (link) %}</a>{% endif %}
    <div class="card-body">
        <h5 class="card-title">
            {% if (link) %}<a href="{{ link }}">{% endif %}{{ title }}{% if (link) %}</a>{% endif %}</h5>
        {% if (subtitle) %}
            <h6 class="card-subtitle mb-2 text-muted">
                {% if (link2) %}<a href="{{ link2 }}">{% endif %}{{ subtitle }}{% if (link2) %}</a{% endif %}
            </h6>
        {% endif %}

        {% if (estimatedDuration) %}
            <span class="duration" title="Duración estimada según Howlongtobeat"><i class="far fa-clock"></i> {{ estimatedDuration }}</span>
        {% endif %}

        {% if (duration) %}
            <span class="duration" title="Mi tiempo jugando"><i class="fas fa-stopwatch"></i> {{ duration }}</span>
        {% endif %}

        {% if (progress) %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {% endif %}
    </div>
</div>
